@page "/Tecnico/Details"
@page "/Tecnico/Details/{TecnicoId:int}"
@inject TecnicoService tecnicoService
@using RegistroTecnicos.Models
@using RegistroTecnicos.Services
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles del Técnico</PageTitle>

@if(tecnico != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header bg-primary text-white py-2 rounded">
                <h3 style="font-weight: bold; justify-content-center" class="font-weight-bold">Detalles del Técnico</h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>TécnicoId:</strong>@tecnico.TecnicoId</li>
                                <li><strong>Nombre:</strong>@tecnico.Nombres</li>
                                <li><strong>SueldoHora:</strong>@tecnico.SueldoHora</li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
                        
            </div>
        </div>
        <div class="card-footer">
            <a href="/Tecnico/Index" class="btn btn-outline-primary">
                <span class="bi bi-box-arrow-left"> Retroceder</span>
            </a>
        </div>
    </div>
}

@code {

    [Parameter]
    public int TecnicoId { get; set; }

    public Tecnicos? tecnico { get; set; } = new Tecnicos();

    protected override async Task OnInitializedAsync()
    {
        tecnico = await tecnicoService.Buscar(TecnicoId);
    }
}
